.logo-style {
    font-weight: bold;
    font-family: 'Caveat';
    font-size: 32px;
    color: #2B5EA4;
    text-shadow: 0px 2px #707b8b93;
}

.font-caveat {
    font-family: 'Caveat';
}

.main-color {
    color:#2B5EA4;
}

.sec-color {
    color: #c5f2b8;
}

.third-color {
    color:#bae4f2;
}

.main-bg-color {
    background-color: #2B5EA4;
}

.sec-bg-color {
    background-color: #c5f2b8;
}

.third.bg.color {
    background-color: #bae4f2;
}

.bg-white-template {
    background-color: white;
    border-radius: 15px;;
    box-shadow: 0px 4px 4px 4px #707b8b93;
    width:90%; 
    height:auto;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

hr {
    color:#2B5EA4;
    width: 90%;
    margin: auto;
}

body {
    background-image: linear-gradient( rgb(187, 221, 240),rgb(138, 248, 187) ,rgb(211, 250, 213));
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    min-height: 100%;
}