.logo-style {
    font-weight: bold;
    font-family: 'Caveat';
    font-size: 32px;
    color: #2B5EA4;
    text-shadow: 0px 2px #707b8b93;
}

.font-caveat {
    font-family: 'Caveat';
}

.main-color {
    color:#2B5EA4;
}

.sec-color {
    color: #c5f2b8;
}

.third-color {
    color:#bae4f2;
}

body {
    background-image: linear-gradient( rgb(187, 221, 240),rgb(138, 248, 187) ,rgb(211, 250, 213));
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

html {
    min-height: 100%;
}