.logo-style {
    font-weight: bold;
    font-family: 'Caveat';
    font-size: 32px;
    color: #2B5EA4;
    text-shadow: 0px 2px #707b8b93;
}

.footer-line {
    background-color: black; height: 5px; border: 0;
}

.footer-container{
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    font-size: 20px;
}

.bi-google {
    color: #FF7F50;
}

.font-caveat {
    font-family: 'Caveat';
}

.main-color {
    color:#2B5EA4;
}

.sec-color {
    color: #c5f2b8;
}

.third-color {
    color: rgb(197, 242, 184);
}

.main-bg-color {
    background-color: #2B5EA4;
}

.sec-bg-color {
    background-color: #c5f2b8;
}

.third-bg-color {
    background-color: #bae4f2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background:hsla(215, 58%, 41%, 0.7); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(43, 94, 164); 
}

body {
    background-image: linear-gradient( rgb(187, 221, 240),rgb(138, 248, 187) ,rgb(211, 250, 213));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    scroll-behavior: smooth;
}
