.guest-ads-title {
    font-weight: bold;
    font-size:4vw;
}

.guest-ads-content {
    font-size: 2vw;
}

.responsive-img {
    width: 100%;
    max-width: 400px;
    height:auto;
}

.card-style {
    width: 20vw;
    /* box-shadow: 0px 4px 4px 4px #707b8b93; */
    min-width: 260px;
    border-radius: 15px;
}

.bg-white-template {
    background-color: white;
    border-radius: 15px;;
    box-shadow: 0px 4px 4px 4px #707b8b93;
    width:90%; 
    height:auto;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.btn-hover {
    border-radius: 15px;
}

.btn-hover:hover {
    top: 3px;
    background-color: #4570ac;
    box-shadow: 0 5px 20px -2px rgb(59, 123, 211)px #bae4f2;
}

.section-full {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}