html {min-height: 100%;}

/* body {
    background-image: linear-gradient( rgb(186, 228, 242),rgb(197, 242, 184));
  } */

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 10px;
  }

.admincontainer {
  background-color: white;
  border-radius: 15px;
  margin: 15%
}

.profilecontainer {
  background-color: white;
  border-radius: 15px;
  margin: 5%;
}

.img {border-radius: 15px;
align-self: center;
}

.pill-nav a {
  display: block;
  color: black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: #2B5EA4;
  color: white;
}

.chatbox {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.adminbox {
  border-color: #ccc;
  background-color: #ddd;
}

.chatbox::after {
  content: "";
  clear: both;
  display: table;
}

.chatbox img {
  max-width: 80%;
  border-radius: 50%;
}

.chatbox img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.enquirybox{
  background-color: white;
  border-radius: 15px;
  margin: 5%;
  max-height: 90%;
}

.enquirybox a.active {
  background-color: #2B5EA4;
}

.scrollarea {
  overflow-y: scroll;
}

.stubtn {
  margin: auto;
  color: #ffffff;
  text-transform: Capitalize;
  text-decoration: none;
  background: #2B5EA4;
  padding: 10px;
  border-radius: 15px;
  display: inline;
  border: none;
  transition: all 0.4s ease 0s;
}

.stubtn:hover {
  background: #699ee7;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}